/* navigation CSS */
.menu{
    position: relative;
    text-align: center;
    background-color: rgb(103, 155, 163);
    font-size: 20px;
}

.menu li{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1% 10%;
}

.menu li a{
    text-decoration: none;
    color:  rgb(33, 53, 56);
}

.menu li a div:hover{
    color:  rgb(194, 247, 255);
}

/* CSS shared across, or in main components */
.home_header{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 32px;
    color:  rgb(56, 86, 91);
}

.component_margins{
    width:98%;
    height: 100%;
    margin: 0 1%;
}

.box{
    border: 1px solid rgb(33, 53, 56);
    border-radius: 10px;
    margin: 1% 0;
    padding: 1%;
}

/* Footer CSS */
.footer_style{
    background-color: rgb(103, 155, 163);
    display: block;
    padding: 1px 1% 0;
    position: sticky;
    bottom: 0;
    width: 100%;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer_style a{
    color:  rgb(33, 53, 56);
    font-weight: bold;

}

.footer_style a:hover{
    color:  rgb(194, 247, 255);
}


/*Task_1 CSS*/

.component_margins input{
    margin-left: 1px;
    margin-right: 10px;
}


/*Task_2 CSS*/

.age_red{
    background-color: red;
}

.age_aqua{
    background-color:  rgb(157, 249, 241);
}

.age_bold{
    font-weight: bold;
}

.cand_list{
    width: 50%;
    border: 1px none black;
    text-align: center;
}

.cand_list th{
    background-color: rgb(39, 66, 66);
    color: rgb(255, 255, 255);
}


/*Task_3 CSS */
.emp_list{
    width: 50%;
    border: 1px none black;
    text-align: center;
}

.emp_list th{
    background-color: rgb(39, 66, 66);
    color: rgb(255, 255, 255);
}

.emp_list tr:nth-child(odd){
    background-color: rgb(204, 254, 255);
}
.emp_list tr:nth-child(even){
    background-color: rgb(157, 249, 241);
}

.box_half{
    border: 1px solid rgb(33, 53, 56);
    border-radius: 10px;
    margin: 1% 0;
    padding: 1%;
    width: 50%;
}

button{
    margin: 1%;
}